In [23]:
import pandas as pd

# Multi-line string containing CSV data
csv_data = """Date,Region,Salesperson,Product,Units Sold,Price per Unit,Revenue
2024-01-01,North,Alice,Widget A,10,20,200
2024-01-02,North,Bob,Widget B,5,30,150
2024-01-02,South,Charlie,Widget A,15,20,300
2024-01-03,East,Alice,Widget A,12,20,240
2024-01-03,North,Bob,Widget A,20,20,400
2024-01-04,West,David,Widget B,8,30,240
2024-01-05,South,Charlie,Widget B,10,30,300
2024-01-05,East,Alice,Widget B,9,30,270
"""

# Write the CSV data string to a file
with open('sales_data.csv', 'w') as f:
    print("Created sales_data.csv file")
    f.write(csv_data)

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('sales_data.csv')

# Convert the 'Date' column to datetime type for easier time-based analysis
df['Date'] = pd.to_datetime(df['Date'])

Created sales_data.csv file

In [24]:
# 1. Pivot table: total revenue by Salesperson for each Date
revenue_by_salesperson_date = df.pivot_table(
    index='Date', 
    columns='Salesperson', 
    values='Revenue', 
    aggfunc='sum'
).fillna(0)  # Fill missing values with 0

print("--- 1. Total Revenue by Salesperson on Each Date ---")
print(revenue_by_salesperson_date)
print("\n" + "="*50 + "\n")

# 2. Calculate the average revenue per sale grouped by Product
avg_revenue_per_product = df.groupby('Product')['Revenue'].mean().round(2).reset_index(name='Average Revenue')

print("--- 2. Average Revenue per Sale for Each Product ---")
print(avg_revenue_per_product)
print("\n" + "="*50 + "\n")

--- 1. Total Revenue by Salesperson on Each Date ---
Salesperson  Alice    Bob  Charlie  David
Date
2024-01-01   200.0    0.0      0.0    0.0
2024-01-02     0.0  150.0    300.0    0.0
2024-01-03   240.0  400.0      0.0    0.0
2024-01-04     0.0    0.0      0.0  240.0
2024-01-05   270.0    0.0    300.0    0.0

==================================================

--- 2. Average Revenue per Sale for Each Product ---
    Product  Average Revenue
0  Widget A            285.0
1  Widget B            240.0

==================================================

In [25]:
# 3. Find the maximum units sold in a single transaction by each Salesperson
max_units_sold = df.groupby('Salesperson')['Units Sold'].max().reset_index(name='Max Units Sold')

print("--- 3. Max Units Sold in a Single Transaction by Salesperson ---")
print(max_units_sold)
print("\n" + "="*50 + "\n")

--- 3. Max Units Sold in a Single Transaction by Salesperson ---
  Salesperson  Max Units Sold
0       Alice              12
1         Bob              20
2     Charlie              15
3       David               8

==================================================

In [26]:
# 4. Calculate total revenue by Region and their percentage contribution to overall revenue
region_revenue = df.groupby('Region')['Revenue'].sum()
total_revenue = region_revenue.sum()
revenue_percentage = ((region_revenue / total_revenue) * 100).round(2).reset_index(name='Revenue Percentage (%)')

print("--- 4. Percentage of Total Revenue by Region ---")
print(revenue_percentage)
print("\n" + "="*50 + "\n")

--- 4. Percentage of Total Revenue by Region ---
  Region  Revenue Percentage (%)
0   East                   24.29
1  North                   35.71
2  South                   28.57
3   West                   11.43

==================================================

In [27]:
# 5. Determine which Salesperson had the most sales transactions
transaction_counts = df['Salesperson'].value_counts()
most_transactions_salesperson = transaction_counts.idxmax()
most_transactions_count = transaction_counts.max()

print("--- 5. Salesperson with the Most Sales Transactions ---")
print(f"Salesperson: {most_transactions_salesperson}")
print(f"Number of Transactions: {most_transactions_count}")
print("\nAll transaction counts:")
print(transaction_counts.reset_index(name='Transaction Count').rename(columns={'index': 'Salesperson'}))
print("\n" + "="*50 + "\n")

--- 5. Salesperson with the Most Sales Transactions ---
Salesperson: Alice
Number of Transactions: 3

All transaction counts:
  Salesperson  Transaction Count
0       Alice                  3
1         Bob                  2
2     Charlie                  2
3       David                  1

==================================================

In [28]:
# 6. Pivot table showing total Revenue and Units Sold by Salesperson and Product
pivot_revenue_units = df.pivot_table(
    index='Salesperson', 
    columns='Product', 
    values=['Revenue', 'Units Sold'], 
    aggfunc='sum'
).fillna(0)

print("--- 6. Total Revenue and Units by Salesperson and Product (Pivot) ---")
print(pivot_revenue_units)
print("\n" + "="*50 + "\n")

--- 6. Total Revenue and Units by Salesperson and Product (Pivot) ---
             Revenue          Units Sold
Product     Widget A Widget B   Widget A Widget B
Salesperson
Alice          440.0    270.0       22.0      9.0
Bob            400.0    150.0       20.0      5.0
Charlie        300.0    300.0       15.0     10.0
David            0.0    240.0        0.0      8.0

==================================================

In [29]:
# 7. Pivot table showing total Units Sold by Region for each Date
pivot_units_by_region_date = df.pivot_table(
    index='Date', 
    columns='Region', 
    values='Units Sold', 
    aggfunc='sum'
).fillna(0)

print("--- 7. Total Units Sold by Region on Each Date (Pivot) ---")
print(pivot_units_by_region_date)
print("\n" + "="*50 + "\n")

--- 7. Total Units Sold by Region on Each Date (Pivot) ---
Region      East  North  South  West
Date
2024-01-01   0.0   10.0    0.0   0.0
2024-01-02   0.0    5.0   15.0   0.0
2024-01-03  12.0   20.0    0.0   0.0
2024-01-04   0.0    0.0    0.0   8.0
2024-01-05   9.0    0.0   10.0   0.0

==================================================